.movie {
  margin: 1rem;
  padding: 1rem;

  background-color: #344e41;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h2 {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 5px 5px 0px rgba(255, 255, 255, 0.26);
}

.movie h3 {
  color: #dad7cd;

  margin: 0;
  font-size: 1rem;
}
